body { 
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #eee;
}

.navbar {
    font-size: 16px;
    margin-bottom: 0;
}

.navbar a:hover {
  color: #ffffff;
}

#title {
    font-size: 30px;
    font-weight: bold;  
}

main {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

#page {
    margin-top: 20px;
}

.row-content {
    padding-bottom: 20px;
    border-bottom: 1px dashed #bbb;
}

main h2 {
    padding-bottom: 10px;
    border-bottom: 1px dashed #bbb;
    margin-top: 0px;
}

footer{
    text-align: center;
}

#searchform {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

input[type=text], input[type=submit] {
    height: 30px;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: #aaa;
    background-color: white;
    font-size: 16px;
}

.tweet {
    border: 1px #aaa dashed;
    padding: 5px;
    margin-bottom: 10px;
}

.pagination > li > a, .pagination > .disabled > a {
    background-color: #f8f8f8;
}

.pagination > li > a:hover, .pagination > .disabled > a:hover {
    background-color: #eee;
}

.tweettext {
    margin-bottom: 5px;
}
.tweetmeta {
    font-size: 12px;
}

#positive{
    color: #8db600;
}
#neutral{
    color: #fdB600;
}
#negative{
    color: #dc143c;
}
#undefined{
    color: #907b3b;
}

.sentlarge{
    font-size: 40px;
}

#hidekw{
    clip: rect(0px, 0px, 0px, 0px);
    position: absolute;
}

#word-cloud a{
    text-decoration: none;
}

.error-message{
    background-color: #ff0000;
    color: #fff;
}