body { 
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #eee;
}
#container {
    max-width: 1024px;
    margin: 0 auto;
}
#header { 
    width: 100%;
    font-weight: bold;  
}
#title {
    font-size: 50px;
    text-align: center;
}
#menu{
    background-color: #4099ff;
    width: 100%;
    height: 41px;
    overflow: hidden;
}
#menu ul {
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li {
    display: inline;
    float:left;
}
#statmenu {
    float:left;
}
#optmenu {
    float:right;
}
#menu a:link, #menu a:visited {
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100px;
    padding: 10px;
}
#menu a:hover, #menu a:active {
    background-color: #7A991A;
}

#page {
    border-bottom: 1px #ccc solid;
    padding: 15px 0px 25px 0px;
    font-family: 'Open Sans', sans-serif;
}
#footer {
    margin-top: 10px;
    text-align: center;
}
#searchform {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}
#word-cloud a{
    color: #000;
    text-decoration: none;
}
input[type=text], input[type=submit] {
    height: 30px;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: #aaa;
    background-color: white;
    font-size: 16px;
}
.tweet {
    border: 1px #aaa dashed;
    padding: 5px;
    margin-bottom: 10px;
}
.tweettext {
    margin-bottom: 5px;
}
.tweetmeta {
    font-size: 12px;
}
#sentpercent{
    max-width: 60%; 
    margin: 0 auto;
}
#positive{
    color: #8db600;
}
#neutral{
    color: #fdB600;
}
#negative{
    color: #dc143c;
}
#undefined{
    color: #907b3b;
}
.sentcell{
    width: 25%; 
    float:left; 
    text-align: center;
    margin-bottom: 50px;
}
.sentlarge{
    font-size: 40px;
}
.error-message{
    background-color: #ff0000;
    color: #fff;
}