body { 
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #eee;
}
#container {
    max-width: 1024px;
    margin: 0 auto;
}
#header { 
    width: 100%;
    font-weight: bold;  
}
#title {
    font-size: 50px;
    text-align: center;
}
#statmenu{
    background-color: #4099ff;
    width: 100%;
    height: 41px;
    overflow: hidden;
}
#statmenu ul {
    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#statmenu li {
    display: inline;
    float:left;
}
#statmenu a:link, #statmenu a:visited {
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100px;
    padding: 10px;
}
#statmenu a:hover, a:active {
    background-color: #7A991A;
}

#page {
    border-bottom: 1px #ccc solid;
    padding: 15px 0px 25px 0px;
    font-family: 'Open Sans', sans-serif;
}
#footer {
    margin-top: 10px;
    text-align: center;
}
#searchform {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}
input[type=text], input[type=submit] {
    height: 30px;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: #aaa;
    background-color: white;
    font-size: 16px;
}
.tweet {
    border: 1px #aaa dashed;
    padding: 5px;
    margin-bottom: 10px;
}
.tweettext {
    margin-bottom: 5px;
}
.tweetmeta {
    font-size: 12px;
}