<h2>Languages</h2>

<div ng-if="filecontent() == 'no file'">No stats! <a href="#/form">Search for a keyword.</a></div>

<div ng-if="filecontent() != 'no file'">
    
    <p>Languages of analyzed tweets based on Twitter account settings.</p>

    <div style="max-width: 600px; margin:0 auto;">
    <canvas id="bar" class="chart chart-bar"
      ng-attr-chart-data="langcount" ng-attr-chart-labels="labels" chart-options="options" chart-colours="colours" style="width: 500px;" >
    </canvas>
        Languages appearing once: {{langonce}}
    </div> 

</div>