<h2>Tweets</h2>

<div ng-if="statsData == 'empty'">No stats! <a href="#/form">Search for a keyword.</a></div>

<div ng-if="statsData != 'empty'">
    
<p>List of analyzed tweets. {{tweetsIntro}}</p>
<div ng-repeat="tweet in tweetsOnCurrentPage">
    <tweet info="tweet"/>
</div>
    
<ul class="pagination">
  <li class="{{firstClass}}"><a href="{{firstLink}}">First</a></li>
  <li class="{{previousClass}}"><a href="{{previousLink}}"><span class="glyphicon glyphicon glyphicon-triangle-left"></span> Previous</a></li>
  <li class="active"><a>{{currentPage}}</a></li>
  <li class="{{nextClass}}"><a href="{{nextLink}}">Next <span class="glyphicon glyphicon-triangle-right"></span></a></li>
  <li class="{{lastClass}}"><a href="{{lastLink}}">Last</a></li>
</ul>
    
</div>